h1,
h4 {
    color: rgb(22, 22, 22);
    text-transform: uppercase;
    white-space: nowrap;
    text-align: center;
text-shadow: adjust-hue($color: #000000, $degrees: 0);
@media screen and (max-width: 768px) {
    font-size: 1.2rem;
}
}




nav {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    button {
        background: transparent;
        border: none;
        cursor: pointer;
        font-size: 16px;
        margin-left: 20%;
        border: 2px solid rgb(242, 243, 244);
        padding: 0.8rem;
        transition: all 0.3s ease;
        &:hover {
            background: rgb(149, 55, 135);
            color: white;
            border: 2px solid rgb(19, 18, 18);
        }
    }
}
@media screen and (max-width: 768px) {
    nav {
        button {
            z-index: 10;
        }
    }
}